@model RoxyBusinessPortolioApp.Models.Service

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item">Services</li>
        <li class="breadcrumb-item active">Delete</li>
    </ol>

    <div class="card mb-4 p-4">

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>