@{
        ViewData["Title"] = "About Us";
}

<!-- Start Header -->
<div class="fables-header fables-after-overlay bg-rules">
    <div class="container">
        <h2 class="fables-page-title fables-second-border-color wow fadeInLeft" data-wow-duration="1.5s">About 1</h2>
    </div>
</div>
<!-- /End Header -->
<!-- Start Breadcrumbs -->
<div class="fables-light-gary-background">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="#" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->
<!-- Start page content -->
<div class="container">
    <div class="my-4 my-md-5 overflow-hidden">

        <div class="text-center mb-5 wow fadeInDown" data-wow-delay="1s">
            <h3 class="fables-about-top-head fables-forth-text-color font-15 semi-font d-inline-block bg-white position-relative">
                <span class="mx-4">Services</span>
            </h3>
            <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold text-center">Provide you the great Services</h2>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="fables-about-icon-style">
                    <span class="fables-iconmobileApp-icon fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Mobile Apps </h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".6s">
                <div class="fables-about-icon-style">
                    <span class="fables-icondevelopment-icon fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Development</h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".9s">
                <div class="fables-about-icon-style">
                    <span class="fables-iconwebDesign-icon fables-second-text-color fa-3x"></span>
                    <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Web Design </h2>
                    <span class="fables-title-border fables-second-background-color"></span>
                    <div class="fables-forth-text-color mt-3 font-14">
                        We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row overflow-hidden">
        <div class="col-12 col-sm-6 p-sm-0 mb-3 mb-md-0 image-container translate-effect-right wow fadeInLeft" data-wow-durationn="2.5s">
            <img src="assets/custom/images/hp_innovacion2.jpg" alt="Fables Template" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 p-sm-0 image-container translate-effect-right wow fadeInRight" data-wow-durationn="2.5s">
            <img src="assets/custom/images/IMG_8573-1078.jpg" alt="Fables Template" class="img-fluid">
        </div>
    </div>

</div>
<div class="fables-counter-no-background my-4 my-md-5 overflow-hidden">
    <div class="container">
        <div class="fables-about-head-style">
            <div class="row wow fadeInDown" data-wow-delay=".5s">
                <div class="col-12 text-center">
                    <h3 class="fables-about-top-head fables-forth-text-color font-15 semi-font d-inline-block bg-white position-relative">
                        <span class="mx-4">About us</span>
                    </h3>
                    <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold text-center">Our business experties Provide you the great value</h2>
                </div>
                <div class="col-12 col-md-10 offset-md-1 mt-3 mb-5">
                    <p class="fables-forth-text-color text-center">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many.
                    </p>
                </div>
            </div>
        </div>

        <div class="row wow fadeIn" data-wow-delay=".8s">
            <div class="col-6 col-md-3">
                <div class="fables-counter">
                    <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="307">0</h2>
                    <h3 class="font-14 semi-font fables-forth-text-color">SATISFIED CLIENTS</h3>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="fables-counter">
                    <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="95">0</h2>
                    <h3 class="font-14 semi-font fables-forth-text-color">COMPANY MEMBERS</h3>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="fables-counter">
                    <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="55">0</h2>
                    <h3 class="font-14 semi-font fables-forth-text-color">AWWARDS WIN</h3>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="fables-counter">
                    <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="16">0</h2>
                    <h3 class="font-14 semi-font fables-forth-text-color">YEARS EXPIRIENCE</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fables-history-section mb-4 mb-md-5">
    <div class="container">
        <div class="fables-about-head-style">
            <div class="row wow fadeInDown" data-wow-delay=".5s">
                <div class="col-12 text-center">
                    <h3 class="fables-about-top-head fables-forth-text-color font-15 semi-font d-inline-block bg-white position-relative">
                        <span class="mx-4">About us</span>
                    </h3>
                    <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold text-center">Company History</h2>
                    <div class="col-12 col-md-10 offset-md-1">
                        <p class="fables-forth-text-color mt-3 mb-4 mb-md-5">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fables-history-carousel">
            <div id="sync2" class="owl-carousel owl-theme">
                <div class="item">
                    <h1>2010</h1>
                </div>
                <div class="item">
                    <h1>2012</h1>
                </div>
                <div class="item">
                    <h1>2014</h1>
                </div>
                <div class="item">
                    <h1>2016</h1>
                </div>
                <div class="item">
                    <h1>2018</h1>
                </div>
                <div class="item">
                    <h1>2020</h1>
                </div>
            </div>
            <div id="sync1" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="row">
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img2.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2010</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/history-img.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2010</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2010</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/history-img.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/history-img.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/history-img.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/history-img.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/history-img.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-md-0">
                            <div class="card">
                                <img class="card-img-top rounded-0 w-100" src="assets/custom/images/img3.jpg" alt="Fables Template">
                                <div class="card-body">
                                    <h5 class="card-title fables-second-text-color">2012</h5>
                                    <p class="card-text fables-forth-text-color d-sm-none d-md-block font-15">It is a long established fact that a reader will be distracted by the readable content of a page when </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="bg-rules mb-4 mb-lg-0 py-3 py-lg-0" style="background-image: url(assets/custom/images/mission-img.jpg)">
    <div class="container-fluid">
        <div class="row overflow-hidden">
            <div class="col-12 col-lg-6 offset-lg-6 p-lg-0">
                <div class="fables-vision-overlay fables-after-overlay bg-rules">
                    <h2 class="fables-second-text-color my-0 font-30 font-weight-bold position-relative z-index wow fadeInRight" data-wow-duration="2s">We love what we do <br> & we do it with passion!</h2>
                    <p class="fables-fifth-text-color position-relative z-index mt-4 mb-4 mb-md-5 wow fadeInRight" data-wow-duration="2s">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.<br> <br>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text. and a search for 'lorem ipsum' will uncover.
                    </p>
                    <a href="" class="btn fables-second-border-color white-color fables-btn-rouned fables-hover-btn-color font-19 px-5 py-2 position-relative z-index wow fadeInRight" data-wow-duration="2s"><span>Contact Us</span></a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="bg-rules mb-4 py-3 py-lg-0" style="background-image: url(assets/custom/images/vision-img.jpg)">
    <div class="container-fluid">
        <div class="row overflow-hidden">
            <div class="col-12 col-lg-6 p-lg-0">
                <div class="fables-vision-overlay fables-after-overlay fables-light-overlay bg-rules">
                    <h2 class="fables-second-text-color my-0 font-30 font-weight-bold position-relative z-index wow fadeInLeft" data-wow-duration="2s">We gain the trust and loyalty of <br> our Clients</h2>
                    <p class="fables-forth-text-color position-relative z-index mt-4 mb-4 mb-md-5 wow fadeInLeft" data-wow-duration="2s">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.<br> <br>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text. and a search for 'lorem ipsum' will uncover.
                    </p>
                    <a href="" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-19 px-5 py-2 position-relative z-index wow fadeInLeft" data-wow-duration="2s"><span>Contact Us</span></a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4 mt-md-5">
        <div class="col-12 text-center wow fadeInDown">
            <h3 class="fables-about-top-head fables-forth-text-color font-15 semi-font d-inline-block bg-white position-relative">
                <span class="mx-4">Testimonials</span>
            </h3>
            <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold text-center">what people say</h2>
        </div>
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 wow fadeInDown">
            <p class="mt-4 mt-md-3 mb-4 mb-md-5 fables-forth-text-color text-center">
                We’ve been lucky enough to work with so many industrial Clients .
                Check out what they’re saying.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 wow fadeInDown" data-wow-delay=".3s">
            <div class="fables-testimonial-block border fables-third-text-color py-4 px-6 mb-4 rounded position-relative">
                <div class="row">
                    <div class="col-12 col-sm-3 text-center image-container shine-effect">
                        <img src="assets/custom/images/testimonial-img.png" alt="Fables Template" class="fables-testimonial-block-img rounded-circle">
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="fables-testimonial-block-info">
                            <h3 class="fables-forth-text-color mt-4 mb-2 font-15 semi-font">Billy Richards</h3>
                            <h3 class="fables-fifth-text-color font-italic font-14 mt-2">Chief Manager, Simba Co</h3>
                        </div>
                    </div>
                </div>
                <div class="fables-forth-text-color font-italic font-14 semi-font mt-3">
                    No matter what issue or questions pops up, you are always there to
                    assist me. Thank you so much for your excellent assistance and great
                    customer support through years.
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 wow fadeInDown" data-wow-delay=".6s">
            <div class="fables-testimonial-block border fables-third-text-color py-4 px-6 mb-4 rounded position-relative">
                <div class="row">
                    <div class="col-12 col-sm-3 text-center image-container shine-effect">
                        <img src="assets/custom/images/testimonial-img.png" alt="Fables Template" class="fables-testimonial-block-img rounded-circle">
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="fables-testimonial-block-info">
                            <h3 class="fables-forth-text-color mt-4 mb-2 font-15 semi-font">Billy Richards</h3>
                            <h3 class="fables-fifth-text-color font-italic font-14 mt-2">Chief Manager, Simba Co</h3>
                        </div>
                    </div>
                </div>
                <div class="fables-forth-text-color font-italic font-14 semi-font mt-3">
                    No matter what issue or questions pops up, you are always there to
                    assist me. Thank you so much for your excellent assistance and great
                    customer support through years.
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 wow fadeInDown" data-wow-delay=".9s">
            <div class="fables-testimonial-block border fables-third-text-color py-4 px-6 mb-4 rounded position-relative">
                <div class="row">
                    <div class="col-12 col-sm-3 text-center image-container shine-effect">
                        <img src="assets/custom/images/testimonial-img.png" alt="Fables Template" class="fables-testimonial-block-img rounded-circle">
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="fables-testimonial-block-info">
                            <h3 class="fables-forth-text-color mt-4 mb-2 font-15 semi-font">Billy Richards</h3>
                            <h3 class="fables-fifth-text-color font-italic font-14 mt-2">Chief Manager, Simba Co</h3>
                        </div>
                    </div>
                </div>
                <div class="fables-forth-text-color font-italic font-14 semi-font mt-3">
                    No matter what issue or questions pops up, you are always there to
                    assist me. Thank you so much for your excellent assistance and great
                    customer support through years.
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 wow fadeInDown" data-wow-delay="1.2s">
            <div class="fables-testimonial-block border fables-third-text-color py-4 px-6 mb-4 rounded position-relative">
                <div class="row">
                    <div class="col-12 col-sm-3 text-center image-container shine-effect">
                        <img src="assets/custom/images/testimonial-img.png" alt="Fables Template" class="fables-testimonial-block-img rounded-circle">
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="fables-testimonial-block-info">
                            <h3 class="fables-forth-text-color mt-4 mb-2 font-15 semi-font">Billy Richards</h3>
                            <h3 class="fables-fifth-text-color font-italic font-14 mt-2">Chief Manager, Simba Co</h3>
                        </div>
                    </div>
                </div>
                <div class="fables-forth-text-color font-italic font-14 semi-font mt-3">
                    No matter what issue or questions pops up, you are always there to
                    assist me. Thank you so much for your excellent assistance and great
                    customer support through years.
                </div>
            </div>
        </div>
    </div>


    <div class="fables-team">
        <div class="row wow fadeInDown">
            <div class="col-12 text-center mt- mt-md-5">
                <h3 class="fables-about-top-head fables-forth-text-color font-15 semi-font d-inline-block bg-white position-relative">
                    <span class="mx-4">Team</span>
                </h3>
                <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold text-center">Meet The Team</h2>
            </div>
            <div class="col-12 col-md-8 offset-md-2">
                <p class="mt-4 mt-md-3 mb-4 mb-md-5 fables-forth-text-color text-center">
                    We love what we do and we do it with passion. We value the experimentation, the reformation of the message, and the smart incentives
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-md-3 mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="card fables-team-block fables-team-data-hover fables-second-border-color">
                    <img class="img-fluid" src="assets/custom/images/team1-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5><a href="#" class="team-name white-color white-color-hover">JOHN MARTIN</a></h5>
                        <p class="fables-team-pos mt-2 mb-3 italic">Programmer</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="#" target="_blank"><span class="fables-iconlinkedin-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-icontwitter-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-iconinstagram-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="card fables-team-block fables-team-data-hover fables-second-border-color">
                    <img class="img-fluid" src="assets/custom/images/team1-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5><a href="#" class="team-name white-color white-color-hover">JOHN MARTIN</a></h5>
                        <p class="fables-team-pos mt-2 mb-3 italic">Programmer</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="#" target="_blank"><span class="fables-iconlinkedin-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-icontwitter-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-iconinstagram-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="card fables-team-block fables-team-data-hover fables-second-border-color">
                    <img class="img-fluid" src="assets/custom/images/team1-3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5><a href="#" class="team-name white-color white-color-hover">JOHN MARTIN</a></h5>
                        <p class="fables-team-pos mt-2 mb-3 italic">Programmer</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="#" target="_blank"><span class="fables-iconlinkedin-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-icontwitter-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-iconinstagram-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-lg-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="card fables-team-block fables-team-data-hover fables-second-border-color">
                    <img class="img-fluid" src="assets/custom/images/team1-4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5><a href="#" class="team-name white-color white-color-hover">JOHN MARTIN</a></h5>
                        <p class="fables-team-pos mt-2 mb-3 italic">Programmer</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="#" target="_blank"><span class="fables-iconlinkedin-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-icontwitter-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                            <li><a href="#" target="_blank"><span class="fables-iconinstagram-icon fables-second-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="owl-carousel owl-theme fables-carousel-border mt-0 mb-4 my-md-5 carousel-items-6 dots-0">
        <div>
            <img src="assets/custom/images/partner1.jpg" alt="Fables Template" class="fables-partner-carousel-img fables-third-border-color">
        </div>
        <div>
            <img src="assets/custom/images/partner1.jpg" alt="Fables Template" class="fables-partner-carousel-img fables-third-border-color">
        </div>
        <div>
            <img src="assets/custom/images/partner1.jpg" alt="Fables Template" class="fables-partner-carousel-img fables-third-border-color">
        </div>
        <div>
            <img src="assets/custom/images/partner1.jpg" alt="Fables Template" class="fables-partner-carousel-img fables-third-border-color">
        </div>
        <div>
            <img src="assets/custom/images/partner1.jpg" alt="Fables Template" class="fables-partner-carousel-img fables-third-border-color">
        </div>
        <div>
            <img src="assets/custom/images/partner1.jpg" alt="Fables Template" class="fables-partner-carousel-img fables-third-border-color">
        </div>
        <div>
            <img src="assets/custom/images/partner1.jpg" alt="Fables Template" class="fables-partner-carousel-img fables-third-border-color">
        </div>
        <div>
            <img src="assets/custom/images/partner1.jpg" alt="Fables Template" class="fables-partner-carousel-img fables-third-border-color">
        </div>
        <div>
            <img src="assets/custom/images/partner1.jpg" alt="Fables Template" class="fables-partner-carousel-img fables-third-border-color">
        </div>

    </div>
</div>

<!-- /End page content -->